<?xml version="1.0" encoding="UTF-8"?>

<suite   thread-count="2" name="Suite">
  <listeners>
    <listener class-name="com.listerners.listerners" />
  </listeners>
  <test name="Test">
    <classes>
      <class name="com.basicapplication.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
